extends ../../layouts/default.pug
include ../../mixins/alert.mixins.pug

block main
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Đổi mật khẩu
        form(
          action="/user/password/reset"
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder = "Mật khẩu phải có ít nhất 8 kí tự, 1 chữ hoa, 2 chữ số và chữ thường"
              required
            )
          div(class="form-group")
            label(for="confirmPassword") Xác nhận mật khẩu
            input(
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder = "Vui lòng xác nhận lại mật khẩu"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu